body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

#container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px #333 solid;
}

#videoElement {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: rotateY(180deg);
}

#mainContentWrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, .97);
    position: absolute;
    box-shadow: #000000;
}

header {
    text-align: center;
}

.instructions {
    padding: 30px;
    font-size: 20px;
    background-color: rgba(100, 100, 100, .03);
}

.takePhoto {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: rgba(28, 162, 251, .3);
}

.actionPhotoButton {
    display: block;
    height: 10rem;
    width: 10rem;
    line-height: 10rem;

    -moz-border-radius: 5rem; /* or 50% */
    border-radius: 5rem; /* or 50% */
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(28, 162, 251, 1);
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 6rem;
    cursor: pointer;
    transform: translateY(-50%);
}

.center-text {
    text-align: center;
}

#canvas {
    width: 70%;
    margin: 10px auto 20px auto;
}

.div-top-left,
.div-top-right,
.div-bottom-left,
.div-bottom-right,
.div-absolute-center {
    position: absolute;
    color: white;
    text-shadow: 2px 2px #000;
    font-size: 10vw;
}

.div-top-left {
    top: 5%;
    left: 5%;
}

.div-top-right {
    top: 5%;
    right: 5%;
}

.div-bottom-left {
    bottom: 5%;
    left: 5%;
}

.div-bottom-right {
    bottom: 5%;
    right: 5%;
}

.div-absolute-center {
    left: 47%;
    top: 47%;
}
